<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Intelligence Storage</title>
</head>
<body>

 <h1>Welcome to Secure Intelligence Storage</h1>
<div class="btn-container">
    <a href="{{ url_for('registerMenu') }}" class="btn">Register</a>
    <a href="{{ url_for('loginMenu') }}"class="btn">Login</a>
</div>
</body>
</html>
