<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Received Files</title>
</head>
<body>
    <h1>Received Files</h1>
    <ul>
        {% for file in received_files %}
            <li>
                {% if file.status == 'pending' %}
                    {{ file.sender }} shared <a href="{{ url_for('request_enter_file_password', shared_file_id=file._id) }}">{{ file.filename }}</a> - Status: {{ file.status }}
                {% elif file.status == 'in_progress' %}
                    {{ file.sender }} shared {{ file.filename }} - Request already sent
                {% elif file.status == 'approved' %}
                    {{ file.sender }} shared <a href="{{ url_for('download_file_with_status_check', filename=file.filename) }}">{{ file.filename }}</a> - Status: {{ file.status }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
