<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter File Password</title>
</head>
<body>
    <h1>Enter File Password</h1>
    <form action="{{ url_for('receivers_enter_file_password', filename=filename, shared_file_id=shared_file_id) }}" method="POST">
        <label for="file_password">File Password:</label>
        <input type="password" id="file_password" name="file_password" required>
{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="error-messages">
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <li>{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}   
        <input type="submit" value="Submit">
    </form>
</body>
</html>
