<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share File</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Share File</h1>

    <form action="{{ url_for('share') }}" method="post">
        <label for="recipient_email">Recipient Email:</label>
        <input type="text" id="recipient_email" name="recipient_email" required>
        <br>
        <label for="file_password">Your File Password:</label>
        <input type="password" id="file_password" name="file_password" required>
        <br>
        <label for="filename">Choose File:</label>
        <select name="filename" id="filename">
            {% for file in user_files %}
                <option value="{{ file.filename }}">{{ file.filename }}</option>
            {% endfor %}
        </select>
        <div class="error-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <li class="error-message">{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <div class="success-message">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                            {% if category == 'success' %}
                                <li class="success-message">{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <br>
        <input type="submit" value="Share">
    </form>
    <div class="btn-container">
        <a href="{{ url_for('userDashboard') }}" class="btn">Back to Home</a>
    </div>
</body>
</html>
