<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Dashboard</h1>
    <div class="btn-container">
        <a href="{{ url_for('upload_file') }}" class="btn">Upload</a>
        <a href="{{ url_for('files') }}" class="btn">View</a>
        <a href="{{ url_for('share') }}" class="btn">Share</a>
        <a href="{{ url_for('received_files') }}" class="btn">Received Files</a>
        <a href="{{ url_for('notifications') }}" class="btn">Notifications</a>
    </div>
</body>
</html>
